<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- viewportを読み込むための<meta>タグを記述-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>温泉巡り</title>
    <link rel="stylesheet" href="温泉巡り.css">
  </head>


<div class ="list">

<body class="lists">
    <div class="listop">
        <h1>編集する</h1>

<%= form_tag("/lists/#{@list.id}/update")do %>
         <div class="container2">

            <div class = "list-index-item2">
                <textarea name="comment">    <%= @list.comment %>  </textarea>
                <input type="submit" value="保存">
                <div class = "list-time">
                <%= @list.date %>
                </div>
            </div>
            </div>
<%end%>


  </body>
  <footer class="footer">
    <div class="last">
        <img src="/あひる.png">

</div>
