


<div class ="list">

<body class="lists">
    <div class="listop">
        <h1>編集する</h1>

<%= form_tag("/lists/#{@list.id}/update")do %>
         <div class="container2">
            <div class = "list-index-item2">
                <textarea name="comment">    <%= @list.comment %>  </textarea>
                <input type="submit" value="保存">
                <div class = "list-time">
                <%= @list.date %>
                </div>
            </div>
            </div>
<%end%>


  </body>
  <footer class="footer">
    <div class="last">
        <img src="/あひる.png">

</div>
