


  <body class="page list index">

      <div class="list top">
      <h1>投稿一覧</h1>

      <p>最新の温泉レポートはこちらから</p>

          <div class="ichiran">

            <% @lists.each do |list| %>
            <a>  <div class = "list-index-item"></a>
                <%= link_to list.content,"/lists/#{list.id}" %>
                <%= link_to"HomePage", list.url,  :target=>["_blank"] %>
                <%= link_to"レビュー", list.review,  :target=>["_blank"] %>
              <h2>  <%= link_to list.comment,"/lists/#{list.id}" %> </h2>

           </div>
            <% end %>
           </div>
           <footer class="list footer">

           </footer>
    </body>
  </div>
