


  <body class="lists3">

      <div class="lists-top3">
      <h1>新規投稿</h1>


      <%= form_tag("/lists/create")do %>
          <div class="form">
            <div class="form-body">
              <textarea name="comment"></textarea>
              <input type=submit value="投稿">
            </div>
           </div>
           <% end %>
         </div>
    </body>
  </div>
