


  <body class="list-new">

    <div class="lists-new-top">

        <%= form_tag("/lists/create")do %>
              <div class="list-new-box">
                <div class="list-new-form-inbox">
                  <%@list.errors.full_messages.each do |message| %>
                  <div class="form-error">
                  <%= message %>
                  </div>
                  <%end%>

                 <h2>温泉名</h2>
                      <div class="list-content-box">
                          <textarea name="content"></textarea>
                      </div>

                  <h2>コメント</h2>
                      <div class="list-comment-box">
                          <textarea name="comment"></textarea>
                      </div>

                  <h2>URL</h2>
                        <div class="link-url">
                          <textarea name="url"></textarea>
                        </div>
                  <h2>レビュー</h2>
                        <div class="link-url">
                          <textarea name="review"></textarea>
                        </div>
                <div class="submit-btn">
                  <input type=submit value="投稿">
                </div>
                </div><!-- #list-new-form-inboxの閉じタグ -->
              </div>　　<!-- #list-new-boxの閉じタグ -->
         <% end %>
  </div>
    </body>
  </div>
