


  <body class="page user index">

      <div class="user top">
      <h1>ユーザー一覧</h1>

          <div class="ichiran">

            <% @users.each do |user| %>
            <a>  <div class = "user-index-item"></a>
              <img src="<%="/user_images/#{user.users_image}"%>">
              <h2>  <%= link_to user.name,"/users/#{user.id}" %></h2>
           </div>
            <% end %>
          </div>s
           <footer class="user footer">

           </footer>
    </body>
  </div>
