


  <body class="users3">

      <div class="users-top3">
      <h1>新規投稿</h1>


      <%= form_tag("/users/create")do %>
          <div class="form">
            <div class="form-body">
              <textarea name="name"></textarea>
              <textarea name="email"></textarea>
              <input type=submit value="投稿">
            </div>
           </div>
           <% end %>
         </div>
    </body>
  </div>
