


  <body class="users3">

      <div class="users-top3">
      <h1>新規ユーザー登録</h1>


      <%= form_tag("/users/create")do %>
      <!-- <%= label_tag :name %> -->
      <!-- <%= text_field_tag :name %> -->
          <div class="form">
            <div class="form-body">
              <%@user.errors.full_messages.each do |message|%>
              <div class ="form-error">
              <%=message%>
              </div>
              <%end%>
              <label for="name" >アカウント名</label>
              <textarea name="name" id="name"></textarea>
              <label for="email">アドレス</label>
              <textarea name="email" id="email"></textarea>
              <label for="password">パスワード</label>
              <textarea name="password" id="password" type="password"></textarea>
              <input type=submit value="保存">
            </div>
           </div>
           <% end %>
         </div>
    </body>
  </div>
