  <body class="page ">
    <div class ="home-about">
        <div class="howto">
          <h1>湯巡り帳の使い方</h1>
          <h2>過去に訪れた温泉を集める</h2>
          <h2>これから訪れたい温泉を探す</h2>
          <li>エリアから探す</li>
          <li>名前から探す</li>
          <li>評価から探す</li>
        </div>

      <img class="maki" src="/巻物１.png">
      <footer class="footer">
      <div class="last">
      <img src="/あひる.png">
    </div>
</body>
