



  <body class="page">
      <div class="container">
        <h1 id="top-title">YUMEGURI~湯めぐり~</h1>
        <p id="message">日本の温泉を遊び尽くそう</p>


        <div class="btn-wrapper">
          <a href="/users/new" div class="btn signup">
            <i class="fas fa-registered"></i>
            新規登録はこちら</a>


          <p>or singup with</p>

          <a href="#" class="btn facebook">

             <i class="fab fa-facebook"></i>
            facebookで登録</a>
          <a href="#" class="btn twitter">
            <i class="fab fa-twitter-square"></i>
            Twitterで登録</a>
        </div>
      </div>


        <div class="middle_line">
          <a>この時期、オススメの宿</a>
          </div>

            <div class="trend">
            <a href="http://arimaspa-kingin.jp/cont01/cont01-flm.htm" target="_blank">  </a>
                <img src="/有馬温泉.jpg"  id="id1"　>
                  <a>有馬温泉</a>
                  <div class="txt-content">新緑の六甲山の中、トンネルを抜けると…<br>そこは千と千尋の世界のような温泉街<br>炭酸せんべいに温泉饅頭、秀吉が愛した温泉街の町歩きも楽しもう
                  </div>
                </div>



            <div class="trend">
                <a href="http://www.suzurann.jp/" target="_blank">
                <img src="/すずらんのゆ.jpg"  id="id2">
                <a>すずらんの湯</a>
                  <div class="txt-content">スーパー銭湯とは思えない風情溢れる景観。<br>少し足を延ばせば、街の喧騒を忘れ静かな時間をゆったりとお湯に浸かりながら過ごせそう。
                  </div>
                </a>
              </div>



            <div class="trend">
              <div class="photo">
                <a href="https://www.iyaonsen.co.jp/" target="_blank">
                <img  src="/祖谷温泉.jpg"  id="id3"  >
                <a>祖谷温泉</a>
                <div class="txt-content">四国一の絶景露天風呂<br>周りは、日本昔話の世界。近くにはかづら橋、香川のうどんなど観光にも困らない、四国旅行の際はぜひ泊まりたい宿
                </div>
              </a>
              </div>
            </div>


            <div class="trend">
              <div class="photo">
                <a href="http://renaissance-naruto.com/" target="_blank">
                <img src="/ルネッサンスリゾートなると.jpg"  id="id4">
                <a>ルネッサンスリゾート鳴門</a>
                <div class="txt-content">瀬戸内海を臨むリゾート露天風呂<br>おしゃれな庭の造りの中、海を眺めているとアジアの高級スパにでもきているような錯覚に陥る。アクティビティも豊富なホテルリゾートなので家族でくると面白い。お風呂は平日の朝が空いていてオススメ
                </div>
              </a>
              </div>
            </div>



        <div class="lowcontainer">
          <h2 id='call'>あなたは過去にいくつの温泉を巡ってきましたか</h2>
          <h3 id='start'>温泉と共にある思い出の旅に出かけよう</h3>
        </div>
        <span class="btn yumeguri_note"><a><%=link_to("湯めぐり帳をつくる","/users/new" )%></a></span>
      </div>
    </div>
    <footer class="footer">
      <div class="last">
          <img src="/あひる.png">

      </div>
    </footer>
  </body>
</html>
