 /*
  *= require_tree .
  *= require_self
  */
  header{
    height: 60px;
    width:100vw;
    background-image: url(/木綿.jpg);
    #background-size: cover;
    position:fixed;
    top:0;
    z-index: 10;
  /*  background: rgba(255, 255, 255, 0.75);*/
  }

  /* ヘッダー ================================ */


  .logo{
    position: absolute;
    top:5px;
    left: 40px;
    width: 60px;
    height:50px;
  }

.link{
      float: right;
      margin: 10px 15px;
      position: absolute;
      top:5px;
      height: 25px;
      box-shadow: 5px 5px #04121a;
      padding-top: 8px;
      display: block;
      border-radius: 4px;
      color: white;
      opacity: 0.8;
      padding-left: 10px;
      padding-right: 10px;
}

  .home.icon{
    right: 250px;
    background-color: #931F1D;
  .home:active{
    box-shadow: none;
    position: relative;
    top:5px;
    left: 10px;
  }
}
.home:hover{
  opacity: 1;}

  .knowhow{
    right: 350px;
    background-color: #215e65;
  .knowhow:active{
    box-shadow: none;
    position: relative;
    top:5px;
    left: 10px;
  }}
  .knowhow:hover{
    opacity: 1;}

  .index{
    right: 130px;
    background-color: #d2a6f7;
  .index:active{
    box-shadow: none;
  }}
  .index:hover{
    opacity: 1;}

    .signup{
      right: 600px;
      background-color: #2a6521;
    .signup:active{
      box-shadow: none;
    }}
    .signup:hover{
      opacity: 1;}

    .usericon{
      right: 450px;
      background-color: #2a2165;
    .users:active{
      box-shadow: none;
    }}
    .users:hover{
      opacity: 1;}


    .new{
      right: 20px;
      background-color: #1f75ef;
    .new:active{
      box-shadow: none;
    }}
    .new:hover{
      opacity: 1;}


  /* footer ================================ */
  footer {
    background-image: url(/木綿２.jpg);
  }
  footer img {
    height: 80px;
    padding-top: 40px;
    padding-left: 40px;

  }

  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }

  .footer {
    height:130px;
  }
