 /*
  *= require_tree .
  *= require_self
  */
  header{
    height: 60px;
    width:100vw;
    background-image: url(/木綿.jpg);
    #background-size: cover;
    position:fixed;
    top:0;
    z-index: 10;
  /*  background: rgba(255, 255, 255, 0.75);*/
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
  }

  /* ヘッダー ================================ */
.logo{
  height:50px;
  width: 50px;
}

  .header-left{
    float: left;
      a{font-size: 2em;
        margin-left: 40px;
    }
  }
  .header-right{
    padding-top: 5px;
    width: 80vw;
    float: right;
    display: flex;
    flex-direction: row-reverse;
  }
  .link{
        margin: 10px 15px;
        top:5px;
        height: 25px;
        width: 100px;
        box-shadow: 5px 5px #04121a;
        padding-top: 8px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 4px;
        color: white;
        opacity: 0.8;
        text-align: center;
  }


    .icon:active{
      box-shadow: none;
      position: relative;
      top:5px;
      left: 10px;
    }
  .icon:hover{
    opacity: 1;}

    .home{
      background-color: #931F1D;
    }

    .knowhow{
      background-color: #215e65;}

    .index{
      background-color: #d2a6f7;
  }

      .signup{
        background-color: #2a6521;
  }


      .usericon{
        background-color: #2a2165;
  }

      .new{
        background-color: #1f75ef;
  }

        .login{
          background-color: blue;
  }

          .logout{
            background-color: blue;
  }



  /* footer ================================ */
  footer {
    background-image: url(/木綿２.jpg);
  }
  footer img {
    height: 80px;
    padding-top: 40px;
    padding-left: 40px;
  }

  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }

  .footer {
    height:130px;
  }
