// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* ここから投稿一覧ページ*/

.page.user.index{
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
  margin-top: 70px;
  text-align: center;
  width: 100vw;
  min-height: 200px;
  height: 100vh;
  background-color: #f8f3d3;
  position: absolute;
  /* ここからfooter*/
  .user-footer {
    position: relative; bottom: 0;
    background-image: url(/木綿２.jpg);
    height: 100px;
    width: auto;
  }}
  .index h1{
    opacity: 0.7;
    color: gray;
  }


.user.top{
   margin-top: 100px;
    height: 100%;
    text-align: center;
    width: 100vw;
      }

.ichiran{
  width: 100vw;
  height: 100%;
  background-color: #f8f3d3;

  }

  .user-index-item{
    border: groove;
    height: 50px;
    width: 600px;
    text-align: left;
    padding: 0px 30px;
    margin-left: 330px;
    padding-bottom: 50px;
    background-color: white;
    margin-bottom: 10px;
  }
.user-index-item a{
  text-align: center;
  font-size: 30px;
  float: left;
  padding-top: 30px;
  padding-left: 50px;
}
.user-left img{
  height: 50px;
  width: 50px;
  object-fit: cover;
  float: left;
  padding-top: 20px;
}

  .usertop h1{
    color: gray;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 200px;
    text-align: center;
    padding-right: 200px;
  }


  .user-name  {
      font-size: 25px;
      color: #8899a6;
      margin-top: 0px;
      text-align: left;
      padding-left: 50px;
      margin-left: 400px;
      float: left;
      margin-bottom: 10px;
  }

.user-index-item p{
  font-size: 20px;
  text-align: left;
  float:left;
  padding-left: 50px;
}

.user-index-item2 textarea{
  width: 500px;
  margin-left: 400px;
  font-size: 30px;
}

/* ここからユーザー詳細ページ*/
.user-show-body{
  width: 100vw;
  height:100vw;
}
.user-show-top{
      margin-top: 200px;
      text-align: center;
      width: 100vw;
      img{
        height: 100px;
        width: 100px;
      }
}
.show-container{
  height: 100%;
  width: 100vw;
}
.user-show-item{
  font-size: 15px;
}

.list-index-item2{
  border: groove;
  height: 50px;
  width: 600px;
  text-align: left;
  padding: 0px 30px;
  margin-left: 330px;
  padding-bottom: 20px;
  background-color: white;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ここからユーザー編集ページ*/
.user-edit-body{
  width: 100vw;
  height:100vw;
}
.user-edit-top{
  margin-top: 100px;
  height: 100px;
  text-align: center;}

.user-edit-top h1{opacity: 0.3;
}
.user-edit-inbox{
  height: 400px;
  text-align: center;
}

.user-image-edit img{
  height: 100px;
  width: 100px;
}

.user-name-edit{
  height: 50px;
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
  padding-bottom: 30px;
}
.user-info-save textarea{
  width: 300px;
}
.image-save-button{
  margin-left: 100px;
}
.edit-email{
  margin-top: 20px;
}
.edit-password{
  margin-left: 15px;
  margin-top: 20px;
}
.save-button{
  margin-top: 20px;
}
/* ここから新規登録ページ*/
.users3{
  width: 100vw;
  height: 400px;
  background-color: #f8f3d3;
}
.users-top3{
  width: 70vw;
  height: 100px;
  margin-left: 200px;
}

.users-top3 h1{
  margin-top: 100px;
  text-align: left;
  opacity: 0.5;
  color: #8899a6;
}

.form-body textarea{
font-size: 20px;
padding: 10px;
min-height: 50px;

border: 1px solid rgb(216, 218, 223);
width: 40vw;
}
.form input[type="submit"]
{
position: absolute;
margin-left: 500px;
margin-top: 30px;
box-shadow: 5px 5px #04121a;
display: block;
border-radius: 4px;
color: black;
opacity: 0.8;
padding:0  20px;
height: 30px;
.form input[type="submit"]:active{
  box-shadow: none;
  position: relative;
  top:5px;
  left: 10px;
}}

.users-top3 label{
  display: block;
  margin-top: 30px;
}

/* ここからログインページ*/
.login-flash{
  background-color: pink;
  width: 50vw;
  font-size: 1.5em;
  opacity: 0.7;
  margin: 0 auto;
}
.login-page{
  height: auto;
  width: auto;
}

.login-container{
  text-align: center;
}
.login-heading{
  margin-top: 200px;
  height: 100px;
}
.login-heading h1{
  opacity: 0.5;
  text-align: center;
}
.login-form-body{
  text-align: center;
}
.login-button{
  margin-top: 50px;
}
