<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- viewportを読み込むための<meta>タグを記述-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>温泉巡り</title>
      <link rel="stylesheet" href="温泉巡り.css">

<body class="profile">
  <p>test</test>

  <div class="top1">
    <a>chance</a>
    <div class= "inbox1">
    </div>
  </div>
</body>


<footer>
</footer>
